<div class="container">
    <div class="row justify-content-center">
        <div class="text-center mb-5">
            <h2 class="heading-section col-md-6">List of Employees</h2>
            <button class="btn btn-primary col-md-1" [routerLink]="['/edit','']"><span><i
                        class="fa fa-add"></i></span>Add</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrap">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID no.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>PAN Number</th>
                            <th>Domain</th>
                            <th>Designation</th>
                            <th>Years of Experince</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="alert" role="alert" *ngFor="let emp of empList">
                            <th scope="row">{{emp.id}}</th>
                            <td>{{emp.name}}</td>
                            <td>{{emp.email}}</td>
                            <td>{{emp.phoneNo}}</td>
                            <td>{{emp.panNo}}</td>
                            <td>{{emp.domain}}</td>
                            <td>{{emp.designation}}</td>
                            <td>{{emp.yearsOfExp}}</td>
                            <td>
                                <button [routerLink]="['/edit',emp.id]" data-dismiss="alert" style="color: blue;"
                                    aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-pencil"></i></span>
                                </button>
                                <button (click)="deleteEmp(emp.id)" style="color: red;" data-dismiss="alert"
                                    aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-trash"></i></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>